body{
    font-family: 'Apercu Pro', sans-serif;
}
.nav-logo{
    font-weight: bold;
    color: #3f46ad !important;
    margin: auto 15px;
    
}
.navbar{
    background: #fff !important;
    border-bottom: 0.75px solid #FED100;
    width: 100%;
}

.navbar-light .navbar-toggler {

 border-color: #fff !important;
 outline: none !important;
}
.navbar ul{
    margin-left: calc(100% - 400px);
}
.active-point{
margin-bottom: 20px;
}
ul li{
    margin-right: 35px;
}